@import '../../styles/global.scss';

.basket_wrapper{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   gap: 1rem;
}

.basket{
   position: relative;
   @include adaptive-font(24,10);
   width: 90%;
   margin: 0 auto;
   background-color: #000000;
   border: 1px solid rgba($mainColor, 0.7);
   border-radius: 10px;
   color: $secondColor;
   img{
      width: 15rem;
      margin: 0 1rem;
   }
}

.basket_header{
   color: $secondColor;
   margin: 0 50px;
   font-weight:600;
   @include adaptive-font(32,18);
}

.basket_item{
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-between;
}

.basket_item__card{
   flex: 1;
   display: flex;
   align-items: center;
   gap: 10px;
}

.card_info{
   align-items: center;
}

.info_count{
   opacity: 0.6;
   @include adaptive-font(14,10);
   margin-top: 0.5rem;
}

.basket_item__count{
   p{
      @include adaptive-font(20,14);
   }

   flex: 0.35;
   display: flex;
   align-items: center;
   gap: 0.5rem;
   justify-content: space-around;

   button{
      display: inline-block;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      svg{
         stroke: rgba($mainColor, 0.7);
         width: 2rem;
         height: 2rem;
         transition: all 0.2s ease-in-out;
         -webkit-transition:all 0.2s ease-in-out;
         -o-transition:all 0.2s ease-in-out;
         -moz-transition:all 0.2s ease-in-out;
         &:hover{
            stroke: rgba($mainColor, 1);
         }
      }

      &:active{
         svg{
            stroke: $secondColor;
         }
      }
   }
}

.basket_item__sum{
   text-align: center;
   flex: 0.35;
   p{
      @include adaptive-font(20,14);
   }
}

.basket_item__delete{
   margin-right: 15px;
   width: 1.5rem;
   cursor: pointer;

   svg{
      fill: $secondColor;
      transition: all 0.2s ease-in-out;
      -webkit-transition:all 0.2s ease-in-out;
      -o-transition:all 0.2s ease-in-out;
      -moz-transition:all 0.2s ease-in-out;
      &:hover{
         fill: $mainColor;
      }
   }

   &:active{
      svg{
         fill: $secondColor;
      }
   }
}



.basket_footer{
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin: 2rem auto;

   button{
      cursor: pointer;
      border: 1px solid rgba($mainColor, 0.7);
      outline: none;
      background-color: rgba($alterColor, 0.7);
      color: $secondColor;
      border-radius: 10px;
      padding: 5px 10px;
      transition: all 0.2s ease-in-out;
      -webkit-transition:all 0.2s ease-in-out;
      -o-transition:all 0.2s ease-in-out;
      -moz-transition:all 0.2s ease-in-out;
      &:hover{
         background-color: rgba($alterColor, 1);
         color: $mainColor;
         a{
            color: $mainColor;
         }
         &:active{
            background-color: $alterColor2;
            color: $secondColor;
         }
      }

      a{
         text-decoration: none;
         color: $secondColor;
         transition: all 0.2s ease-in-out;
         -webkit-transition:all 0.2s ease-in-out;
         -o-transition:all 0.2s ease-in-out;
         -moz-transition:all 0.2s ease-in-out;
      }
   }
}

@media(max-width:800px){
   .basket{
      margin-top: 1rem;
   img{
      width: 10rem;
   }
   }
}

@media(max-width:600px){
   .basket_item{
      padding-bottom: 1rem;
   }
   .basket_item__card{
      flex-direction: column;
}}

@media(max-width:450px){
   .basket_item__count{
      flex-direction: column;
}

   .basket_item__delete{
      position: absolute;
      top: 10px;
      right: 0px;
}}

@media(max-width:360px){
   .basket_item{
      flex-direction: column;
}

   .basket_item__count{
      flex-direction: row;
      margin: 1rem auto;
}
.basket{
   img{
      width: 85vw;}


}}